<header role="banner" id="top">
    <a class="c-skip-link sr-only sr-only-focusable" href="#content" >Skip to content</a>
    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
        <a href="https://stackoverflow.com/jobs">We are always hiring</a>
      </div>
    </div>
    <div class="brand"></div>
    <a id="menu-btn" class="btn" href="#nav"><span aria-hidden="true">☰</span><span class="sr-only">Menu</span></a>
    <h1 class="site-title"><span class="sr-only">Ghostinthewires</span> Engineering Handbook</h1>
</header>
